.loader {
  background: transparent;
  overflow: hidden;
}

.loader {
  animation: spin 1.5s linear alternate infinite;
  background: #f1f1f1;
  border-radius: 50%;
  height: 120px;
  width: 120px;
}

.loader:before {
  background: #412234;
  border-radius: 50%;
  content: "";
  display: block;
  height: 0.5em;
  width: 0.5em;
  z-index: 2;
}

.loader:after {
  background: #bdd9bf;
  border-radius: 50%;
  box-shadow: 0em -2.6em #bdd9bf, 2.25em -4.02em #bdd9bf, 2.25em -1.25em #bdd9bf,
    4.6em 0em #bdd9bf, 2.25em 1.25em #bdd9bf, 2.25em 4.02em #bdd9bf,
    0em 2.6em #bdd9bf, -2.25em 4.02em #bdd9bf, -2.25em 1.25em #bdd9bf,
    -4.6em 0em #bdd9bf, -2.25em -1.25em #bdd9bf, -2.25em -4.02em #bdd9bf;
  content: "";
  display: block;
  height: 2em;
  width: 2em;
}

.inner {
  animation: spin, load 1.5s ease-out alternate infinite;
  border: solid 1px #412234;
  border-radius: 50%;
  height: 1.75em;
  width: 1.75em;
  z-index: 1;
}

.loader,
.loader:before,
.loader:after,
.inner {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
}

@keyframes load {
  0% {
    box-shadow: 0em -2.6em #bdd9bf, 2.25em -1.25em #bdd9bf,
      2.25em 1.25em #bdd9bf, 0em 2.6em #bdd9bf, -2.25em 1.25em #bdd9bf,
      -2.25em -1.25em #bdd9bf;
  }
  15% {
    box-shadow: 0em -2.6em #bdd9bf, 2.25em -1.25em #bdd9bf,
      2.25em 1.25em #bdd9bf, 0em 2.6em #bdd9bf, -2.25em 1.25em #bdd9bf,
      -2.25em -1.25em #412234;
  }
  30% {
    box-shadow: 0em -2.6em #bdd9bf, 2.25em -1.25em #bdd9bf,
      2.25em 1.25em #bdd9bf, 0em 2.6em #bdd9bf, -2.25em 1.25em #412234,
      -2.25em -1.25em #412234;
  }
  45% {
    box-shadow: 0em -2.6em #bdd9bf, 2.25em -1.25em #bdd9bf,
      2.25em 1.25em #bdd9bf, 0em 2.6em #412234, -2.25em 1.25em #412234,
      -2.25em -1.25em #412234;
  }
  60% {
    box-shadow: 0em -2.6em #bdd9bf, 2.25em -1.25em #bdd9bf,
      2.25em 1.25em #412234, 0em 2.6em #412234, -2.25em 1.25em #412234,
      -2.25em -1.25em #412234;
  }
  75% {
    box-shadow: 0em -2.6em #bdd9bf, 2.25em -1.25em #412234,
      2.25em 1.25em #412234, 0em 2.6em #412234, -2.25em 1.25em #412234,
      -2.25em -1.25em #412234;
  }
  90% {
    box-shadow: 0em -2.6em #412234, 2.25em -1.25em #412234,
      2.25em 1.25em #412234, 0em 2.6em #412234, -2.25em 1.25em #412234,
      -2.25em -1.25em #412234;
  }
  100% {
    box-shadow: 0em -2.6em #412234, 2.25em -1.25em #412234,
      2.25em 1.25em #412234, 0em 2.6em #412234, -2.25em 1.25em #412234,
      -2.25em -1.25em #412234;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(60deg);
  }
  30% {
    transform: rotate(120deg);
  }
  45% {
    transform: rotate(180deg);
  }
  60% {
    transform: rotate(240deg);
  }
  75% {
    transform: rotate(300deg);
  }
  90% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
